@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #003470;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}

#branding {
    color:#fc7c01;
    font-size: 2.5rem;
    font-weight: bold;
}

#branding a,
#branding a:link,
#branding a:visited{
    color: #fc7c01;
    text-decoration: none;
}

.nav-bar ul  li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

#icon-bars {
    color: #fff;
    width: 32px;
    height: 32px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.nav-list a {
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.search {
    margin: 20px 0;
    text-align: end;
}

.search form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search-icon {
    width: 32px;
    height: 32px;
}

.search input[type="search"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #004c8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subtitle {
    color: #004c8b;
    font-size: 2rem;
    margin-bottom: 10px;
}

.text {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #004c8b;
    color: #fff;
    padding: 10px 0;

}

@media (max-width: 1090px) {
    .nav-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #003470;
    }

    .nav-bar ul.active {
        display: flex;
    }

    .nav-bar ul li {
        display: block;
        text-align:right;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}

